.calculateBlock {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    margin: 0 auto;
    height: 600px;
    width: 350px;
    background-color: #2d3142;
    .titleBlock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 24px;
        color: #fff;
        text-align: center;
    }
    .contentBlock {
        display: grid;
        grid-template-rows: 1fr 5fr;
        .contentTitle {
            text-align: center;
            color: #fff;
        }
        .formBlock {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #fff;
            .cascader{
                position: relative;
            }
        }
    }
    .buttonBlock {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        button {
            width: 150px;
            appearance: none;
            border: 0;
            border-radius: 5px;
            background: #ef8354;
            color: #fff;
            padding: 8px 16px;
            font-size: 16px;
        }
    }
    .button2Block {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        button {
            width: 150px;
            appearance: none;
            border: 0;
            border-radius: 5px;
            background: #ef8354;
            color: #fff;
            padding: 8px 16px;
            font-size: 16px;
        }
    }
}
